@import "../../variables";

.MyDashboard {
    display: flex;
    flex-direction: row;
    height: 100%;

    .MyMenu {
        width: $menuWidth;
        overflow-y: auto;
    }

    .MyPage {
        width: calc(100% - #{$menuWidth});
        height: 100%;
        overflow-y: hidden;
        .LoadingOuter {
            width: calc(100% - #{$menuWidth});
            height: calc(100% - 64px);
            z-index: 9999;
            position: absolute;
            top: 64px;
            .Loading {
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
            }
        }
    }

    .MyContent {
        overflow: auto;
        height: calc(100% - 64px);
        border-left: solid 1px rgba(0, 0, 0, 0.12);
        overflow-y: auto;
        > div {
            margin-top: 24px;
            margin-left: 48px;
            margin-bottom: 48px;
        }
    }

}
